<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.rvaidya.utilities.TestRunListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="LoginTest" parallel="classes">
        <classes>
            <class name="org.rvaidya.LoginTest.LoginTest"></class>
            <class name="org.rvaidya.DashboardTest.DashboardTest"></class>
        </classes>
    </test>
</suite>